{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Commission Fee</h3>
    </div>
    {% for message in messages %}
    <div class="col-xs-12">
        <div class='alert alert-success alert-dismissable' id="msg-add-service">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ message|capfirst }}</strong>
        </div>
    </div>
    {% endfor %}
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form id="submit-form" class="form-horizontal" role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">% Fee for Shop</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-rounded" name="fee">
                        </div>
                    </div>
                    <div class="pull-right">
                        <a>
                            <input class="btn btn-success" type="submit" value="Save">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
