{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel mb25">
    <div class="panel-heading border">
        <h3>Generate GR Code</h3>
    </div>
    {% for message in messages %}
    <div class="col-xs-12">
        <div class='alert alert-success alert-dismissable' id="msg-add-service">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>{{ message|capfirst }}</strong>
        </div>
    </div>
    {% endfor %}
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-md-8">
                <form id="submit-form" class="form-horizontal" role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">Bill Amount</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_brocker" name="bill_amount" value="{{ bill_amount }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Discount % </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_brocker" name="discount" value="{{ discount }}" >
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-2 control-label">Pay</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-rounded"
                                   id="txt_brocker" name="pay" value="{{ pay }}" >
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">
                        <input id="genqr_code" class="btn btn-success btn-block btn-lg mb15" type="submit" value="Generate"> 
                    </div>
                </form>
            </div>
            {% if loaded_image %}
            <div class="col-md-4">
                <img src="{% static 'media/deadpool.png' %}"/>
            </div>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}
